@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito');
html {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#globalWrapper {
    min-height: 100vh
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-display: auto;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-display: auto;
}

.title {
    font-size: 4em
}

#signupTitle {
    font-size: 3.25em;
}

@media only screen and (max-width: 680px) {
    .title {
        font-size: 2.5em;
    }

    #signupTitle {
        font-size: 3em;
    }
}

.btn {
    border-radius: 12px;
}

.circle-btn {
    font-size: 4em;
    border-radius: 100%;
    width: 160px;
    height: 160px;
}

#videoElement {
    width: 100% !important;
    height: auto !important;
    background: white;
    border-radius: 12px;
}

#status {
    position: absolute;
    padding: 12px;
    width: calc(100% - 30px) !important;
    height: 100% !important;
    border-radius: 12px;
}

#flash {
    position: absolute;
    width: calc(100% - 30px) !important;
    height: 100% !important;
    background: rgba(255, 255, 255, 0);
    border-radius: 12px;
}

.display {
    animation: flash 0.5s ease 0s 1 normal forwards;
}

@keyframes flash {
    0% {
        background: rgba(255, 255, 255, 1)
    }
    100% {
        background: rgb(255, 255, 255, 0)
    }
}

#flash .display {
    display: none;
}

#flash .display {
    display: none;
}

#audio {
    border-radius: 40px;
    width: 100%;
    padding: 10px;
    border: none;
    background-size: 200% auto;
    background-image: linear-gradient(120deg, #FF5A5F 0%, #F2A541 100%);
    transition: 0.5s;
}

#audio:hover {
    background-position: right center;
}

#audio:disabled {
    background-image: linear-gradient(120deg, rgb(196, 66, 94) 0%, rgb(201, 149, 53) 100%);
}

#faceID {
    transition: 1s all 1s
}

#loadWrapper, #loadWrapper span {
    transition: 0.25s all 1s;
}

.collapse-anim {
    height: 0px;
}

.card-main {
    border-radius: 12px;
}

.alert {
    border-radius: 12px;
}

#name {
    background: #e7e7e7;
    border-radius: 50px;
}

.ui-container {
    max-width: 600px;
}

.modal-content {
    border-radius: 12px;
}

#closeBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8px;
    font-size: 18px;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s all;
}

#notification {
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 12px;
    min-width: 40vmin;
    max-width: 100%;
    text-decoration: none;
    color: initial;
}

.modal-content {
    /* fallback for old browsers */
    background: #FEAC5E;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(45deg, #4BC0C8, #C779D0, #FEAC5E);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(45deg, #4BC0C8, #C779D0, #FEAC5E);
    background-size: 600% 600%;
    -webkit-animation: scroll 30s ease infinite;
    -moz-animation: scroll 30s ease infinite;
    animation: scroll 30s ease infinite;
}

@-webkit-keyframes scroll {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes scroll {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes scroll {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}