@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('https://source.unsplash.com/1920x1080/?aerial,nature');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-family: 'Open Sans', sans-serif;
}

.title {
    font-size: 4em
}

.circle-btn {
    font-size: 4em;
    border-radius: 100%;
    width: 160px;
    height: 160px;
}

@media only screen and (max-width: 680px) {
    .title {
        font-size: 2em;
    }
    .circle-link {
        font-size: 3em;
    }
}

#videoElement {
    /* max-width: 480px;
    max-height: 480px;
    width: 40vmax;
    height: 40vmax; */
    width: 100% !important;
    max-width: 480px;
    height: auto !important;
    background: white;
    border-radius: 12px;
}

#videoCanvas {
    display: none;
}