@import url('https://fonts.googleapis.com/css?family=Montserrat|Nunito');
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: table;
}

body {
    background: linear-gradient( rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url('https://source.unsplash.com/1920x1080/?aerial,nature');
    background-position: center;
    background-size: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-display: auto;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-display: auto;
}

.title {
    font-size: 4em
}

.circle-btn {
    font-size: 4em;
    border-radius: 100%;
    width: 160px;
    height: 160px;
}

@media only screen and (max-width: 680px) {
    .title {
        font-size: 2em;
    }
}

#videoElement {
    /* max-width: 480px;
    max-height: 480px;
    width: 40vmax;
    height: 40vmax; */
    width: 100% !important;
    height: auto !important;
    background: white;
    border-radius: 12px;
}

#videoCanvas {
    display: none;
}

#audio {
    border-radius: 40px;
    width: 100%;
    padding: 10px;
    border: none;
    background-size: 200% auto;
    background-image: linear-gradient(120deg, #FF5A5F 0%, #F2A541 100%);
    transition: 0.5s;
}

#audio:hover {
    background-position: right center;
}

.card-main {
    border-radius: 12px;
}

.signup input {
    background: #e7e7e7;
    border-radius: 50px;
}

.signup-container {
    max-width: 600px;
}